$footer-height: 80px;

body {
  background: linear-gradient(#0c0c30, #44337a, #8d91d8);
  // background: linear-gradient(#0c0c30, #44337a, #6f72a2);
  background-attachment: fixed;
  // background: linear-gradient(#8d91d8, #44337a, #0c0c30);
  color: white;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  color: $color-isles-header;
}
h1, .h1 {
  font-size: $base-font-size*3;
	background-color: #323253;
	border: 2px solid #444484;
	text-align: center;
	padding: $spacing-unit/3;
	color: white;
  // border-bottom: 2px solid $color-isles-header;
}
h2, .h2 {
  color: $color-isles-header;
  font-size: $base-font-size*1.75;

  border-bottom: 3px solid lighten(#323253,20);
}

h3, .h3 {
  color: $color-isles-header;
  font-size: $base-font-size*1.25;
	text-decoration: underline;
	text-decoration-color: lighten($color-isles-header,10);
}

h4, .h4 {
	color: $color-isles-header;
  font-size: $base-font-size;

}

.site-container {
  min-height: 100vh;
  position: relative;
}

.site-header {
  padding-top: 1em;
	.wrapper {
		position: relative;
		top: -1em;
	}
}

.site-title {
  text-align: center;
  display: block;
	filter: drop-shadow(15px 10px 4px rgba(0,0,0,0.25));
	> img {
		max-width: 80vw;
		width: $content-width;
	}
}
.site-nav {
  text-align: center;
  font-family: $cursive-font-family;
  font-size: 150%;
  text-shadow: 1px 1px 2px #00072d;
}
.page-link {
  display: inline;
  color: $color-isles-navlink;
}
.page-link-spacer {
  color: darken($color-isles-navlink, 20%);
}

.page-content {
  padding-bottom: $footer-height;
	a {
		color: $color-isles-link;
		&:hover {
			color: $color-isles-link-hover;
		}
	}
	.wrapper {
		padding-top: $spacing-unit;
		padding-bottom: $spacing-unit;
	  border: 12px solid $color-isles-page-border;
	  border-image: url(https://i.imgur.com/Ek08Qvw.png) 10;
	  border-image-repeat: repeat;
	  border-image-outset: 0;

		box-shadow: 2px 2px 4px black;
	  background: $color-isles-page-background;
	  background-image: url(https://i.imgur.com/BjLjnV9.png);
	}
}

.site-footer {
  position: absolute;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  text-align: center;
  color: $color-isles-footer;
  .footer-wrapper {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  a {
    color: lightgray;
  }
  p {
    margin-bottom: 0.5rem;
  }
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
